*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: url(1.png);
    background-size: 1900px 1100px;
    background-position: 1550px 1000px;
    font-family: sans-serif;
    
}

.container{
    max-width: 700px;
    width: 100%;
    background: rgb(45, 45, 58);
    padding: 25px 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.container .title{
    color: white;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background:#ffc107;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    color: white;
}

form .user-details .input-box{
    margin-bottom: 12px;
    width: 100%;
}

.user-details .input-box .detail{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    border: 3px;
      

}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom: px;
    transition:all 0.3s ease; 
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #ffc107;
    border-width: 3px;
}

.user-details .input-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;

}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 1px;
    letter-spacing: 1px;
    background-color: #7c5d01;
}

form .button input:hover{
    cursor: pointer;
    background-color: #ffc107;
}

