* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --background-color: rgb(243, 243, 253);
    --card-color: #394068;
    --water-mark-color: rgba(152, 152, 152, 18);
    --primary-color: #ffcd43;
    --p-color: black;
    --location-color: rgb(167, 167, 167);
    --icon-color: #ffffff;
    --margin: #758BFF;
    --padding: 16px;
    
}

body {
    background: url(1.png);
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}



/*-- Navigation Bar--*/
nav .nav-list{
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
    position: relative;
    text-decoration: none;
    max-height: max-content;
    
}
nav .nav-list a{
    display: inline-block;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    font-size: 15px;
    padding: 3% 5%;
    text-decoration:none;  
    
        
}

.nav-list a:hover{
    font-size: 20px;
    color: var(--primary-color);
}

/*-- Title --*/

.logo h2{
    font-size: 50px;
    padding: 10px 50px; 
    color: var(--primary-color);
}

.bform{
    width: 400px;
    height: 180px;
    background: var(--primary-color);
    border-radius: 10px;
    border: 5px groove;
    color: #fff;
    top: 290%;
    left: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    text-align: center;
}



.Hotels{
    height: 300px;
    position: center;
    align-items: center;
}

.Hotels a{
    display: inline-block;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    padding: 3% 5%;
    text-decoration:none; 
    left: 40%;
    top: -40%;
    border-style: ridge;
    border-color: var(--primary-color);
    border-width: 3px;
    background-color:#394068;  
}
.image1{
    nav-right: 100%;
    width: 400px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: url("4.png");
}

.image1 h1{
    color: white;
    border-style: ridge;
    border-color: var(--primary-color);
    border-width: 3px;
    background-color:#394068;    
}

.image1 p{
    color: white;
    border-style: ridge;
    border-color: var(--primary-color);
    border-width: 3px;
    background-color:#394068;
    left: 40%;
    top: 40%;   
}

.image2{
    width: 400px;
    height: 300px;
    top:1000%;
    left: 1000%;
    background-size: cover;
    background-position: center;
    height: 17rem;
    background-image: url("6.png");
}

.image2 h1{
    color: white;
    border-style: ridge;
    border-color: var(--primary-color);
    border-width: 3px;
    background-color:#394068;    
}

.image2 p{
    color: white;
    border-style: ridge;
    border-color: var(--primary-color);
    border-width: 3px;
    background-color:#394068;   
}

.image3{
    width: 400px;
    height: 300px;
    background-size: cover;
    background-position: center;
    height: 17rem;
    background-image: url("7.png");
}

.image3 h1{
    color: white;
    border-style: ridge;
    border-color: var(--primary-color);
    border-width: 3px;
    background-color:#394068;    
}

.image3 p{
    color: white;
    border-style: ridge;
    border-color: var(--primary-color);
    border-width: 3px;
    background-color:#394068;   
}

