body{
    margin: 0;
    padding: 0;
    background: url(1.png);
    background-size: 1900px 1100px;
    background-position: 1550px 1000px;
    font-family: sans-serif;
    
}

.loginbox{
    width: 320px;
    height: 420px;
    background: rgb(45, 45, 58);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 115px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: calc(50%, - 50%);
    padding: 150px 80px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #8b9bf8;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover{
    color:#ffc107;

}

.container{
    position: center;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background:#ffc107;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 12px;
    width: 100%;
}

.user-details .input-box .detail{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: bold;
    color: yellow;

}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom: 2px;
    transition:all 0.3s ease; 
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #ffc107;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 1px;
    letter-spacing: 1px;
    background-color: #7c5d01;
}

form .button input:hover{
    background-color: #ffc107;
}